
@{
    ViewData["Title"] = "UserInfo";
    Customer customer = (Customer)ViewData["customer"];
    List<Order> customerOrders = (List<Order>)ViewData["customerOrders"];
}

<link rel="stylesheet" href="~/css/UserInfo.css" />

<div class="user-info-container">
    <div>
        <div class="section-title">הפרטים שלי</div>
        <div class="section-details">שם משתמש ומייל</div>
        <div>@customer.User.UserName</div>
        <div>@customer.Email</div>

        <div style="margin-top: 1%;">
            <button class="btn btn-outline-warning btn-sm">
                <a asp-controller="UserInfo" asp-action="Edit" style="all:unset">עריכה</a>
            </button>
        </div>

    </div>

    <div>
        <div class="prev-orders-title">הזמנות קודמות</div>
        @{
            if (customerOrders.Count != 0)
            {
                <table class="table orders-table">
                    <thead>
                        <tr>
                            <th class="orders-table-header">מספר הזמנה</th>
                            <th class="orders-table-header">סה"כ הזמנה</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var order in customerOrders)
                        {
                            <tr>
                                <td>@order.OrderId</td>
                                <td>@order.OrderSumPayment &#8362;</td>
                                <td>
                                    <button class="btn btn-outline-info">
                                        <a asp-action="Order" asp-route-id="@order.OrderId"style="all:unset">לצפייה בהזמנה</a>
                                    </button>
                                </td>
                            </tr>
                         }
                        </tbody>
                </table>

                } 
                else
                {
                    <div style="margin-top: 2%">לא קיימות הזמנות</div>
                }
        }
    </div>

</div>
