
@{
   @* @using Microsoft.AspNetCore.Http
    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor*@
ViewData["Title"] = "UserInfo";

   @* Customer customer = SessionHelper.GetObjectFromJson<Customer>(HttpContextAccessor.HttpContext.Session, "customer");*@

Customer customer = (Customer)ViewData["customer"];
List<Order> customerOrders = (List<Order>)ViewData["customerOrders"];
}

<link rel="stylesheet" href="~/css/UserInfo.css" />

<div class="user-info-container">
    <div>
        <div class="section-title">הפרטים שלי</div>
        <div class="section-details">שם משתמש וסיסמא</div>
        <div>@customer.FirstName @customer.LastName</div>
        <div>@customer.Email</div>
        @*<div>@customer.Username</div>*@

        <div style="margin-top: 1%;">
            <button class="btn btn-outline-warning btn-sm">
                <a asp-controller="UserInfo" asp-action="Edit" style="all:unset">עריכה</a>
            </button>
          @*  <button class="btn btn-outline-warning btn-sm">
                שינוי סיסמא
            </button>*@
        </div>

    </div>

    <div>
        <div class="section-title" style="margin-top: 5%">הזמנות קודמות</div>
        <div class="section-details">
            <span>מספר הזמנה</span>
@*            <span>תאריך</span>*@
            <span>סה"כ הזמנה</span>
        </div>

        @{
            if (customerOrders.Count != 0)
            {
                @foreach (var order in customerOrders)
                {
                <div style="margin-top: 3%">
                    <span>@order.OrderId</span>
                    <span>@order.OrderSumPayment</span>
                    <button class="btn btn-outline-info">
                        <a asp-controller="Orders" asp-action="Index" style="all:unset">לצפייה בהזמנה</a>
                    </button>
                </div>
                }
            } else
            {
                <div style="margin-top: 3%">לא קיימות הזמנות</div>
            }
        }
    </div>

</div>