@model PlantPlanet.Models.Category

@{
    ViewData["Title"] = "Details";
}

<div class="container" style="font-family:Gisha; direction:rtl; text-align:center">
    <div class="row" style="font-weight:bold">
        <div class="col-md-4">
            <h4>@Html.DisplayNameFor(model => model.CategoryName)</h4>
        </div>
        <div class="col-md-4">
            <h4>@Html.DisplayNameFor(model => model.ImageURL)</h4>
        </div>
        <div class="col-md-4">
            <h4>אפשרויות ניהול</h4>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4">
            @Html.DisplayFor(model => model.CategoryName)
        </div>
        <div class="col-md-4">
            <img src="~/@Html.DisplayFor(model => model.ImageURL)" style="height:80%; width:80%" />
        </div>
        <div class="col-md-4">
            <a asp-action="Delete" asp-route-id="@Model.CategoryId">מחיקת קטגוריה</a> |
            <a asp-action="Edit" asp-route-id="@Model.CategoryId">עריכת קטגוריה</a>
        </div>
    </div>
    <div class="row">
        <a asp-action="Index">חזרה לרשימת הקטגוריות</a>
    </div>
</div>


