@model PlantPlanet.Models.Supplier

@{
    ViewData["Title"] = "Delete";
}

<div class="container" style="font-family:Gisha; direction:rtl; text-align:center">
    <h4>מחיקת ספק</h4>
    <div class="row" style="font-weight:bold; padding-top:5%">
        <div class="col-md-4">
            @Html.DisplayNameFor(model => model.CompanyName)
        </div>
        <div class="col-md-4">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </div>
        <div class="col-md-4">
            @Html.DisplayNameFor(model => model.Email)
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            @Html.DisplayFor(model => model.CompanyName)
        </div>
        <div class="col-md-4">
            @Html.DisplayFor(model => model.PhoneNumber)
        </div>
        <div class="col-md-4">
            @Html.DisplayFor(model => model.Email)
        </div>
    </div>
    <br />
    <div class="row" style="padding-top:10%; margin: 5%; width: 100%;">
        <div class="col-md-4">

        </div>
        <div col-md-4>
            <form asp-action="Delete">
                <input type="hidden" asp-for="SupplierId" />
                <input type="submit" value="מחיקת ספק" class="btn btn-outline-danger" />
                <a asp-action="Index" class="btn btn-outline-info">ביטול מחיקה</a>
            </form>
        </div>
        <div class="col-md-4">

        </div>
    </div>
    <div class="row">
        <a asp-action="Index">חזרה לרשימת הספקים</a>
    </div>
</div>       
        
    


