@model PlantPlanet.Models.Supplier

@{
    ViewData["Title"] = "Details";
}

<div class="container" style="font-family:Gisha; direction:rtl; text-align:center">
    <div class="row" style="font-weight:bold">
        <div class="col-md-3">
            <h4>@Html.DisplayNameFor(model => model.CompanyName)</h4>
        </div>
        <div class="col-md-3">
            <h4>@Html.DisplayNameFor(model => model.PhoneNumber)</h4>
        </div>
        <div class="col-md-3">
            <h4>@Html.DisplayNameFor(model => model.SuppliedProducts)</h4>
        </div>
        <div class="col-md-3">
            <h4>אפשרויות ניהול</h4>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            @Html.DisplayFor(model => model.CompanyName)
        </div>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.PhoneNumber)
        </div>
        <div class="col-md-3">
            @{ 
                foreach(var item in Model.SuppliedProducts)
            {
                    @Html.DisplayName(item.Name)
            }
            }
        </div>
        <div class="col-md-3">
            <a asp-action="Delete" asp-route-id="@Model.SupplierId">מחיקת ספק</a> |
            <a asp-action="Edit" asp-route-id="@Model.SupplierId">עריכת ספק</a>
        </div>
    </div>
    <div class="row" style="padding-top:10%">
        <a asp-action="Index">חזרה לרשימת הספקים</a>
    </div>
</div>
