@model IEnumerable<PlantPlanet.Models.Supplier>

@{
    ViewData["Title"] = "Index";
}

<div class="container" style="font-family: 'Gisha'; direction:rtl; text-align:center">
    <div class="row">
        <div class="col-md-4">
            <a asp-action="Create" class="btn btn-outline-info">יצירת ספק חדש</a>

        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <form asp-action="Search" asp-controller="Suppliers" style="margin-right:3%">
                <input name="query" class="search-input" type="search" placeholder="חיפוש ספק" />
                <button class="search-container" style="border:none; background-color:transparent">
                    <i class="fas fa-search" style="margin-right: 5px" aria-hidden="true"></i>
                </button>
            </form>
        </div>
    </div>
    <br />
    <div class="row" style="font-weight:bold">
        <div class="col-md-3">
            <h4>@Html.DisplayNameFor(model => model.CompanyName)</h4>
        </div>
        <div class="col-md-3">
            <h4> @Html.DisplayNameFor(model => model.PhoneNumber)</h4>
        </div>
        <div class="col-md-3">
            <h4>@Html.DisplayNameFor(model => model.Email)</h4>
        </div>
        <div class="col-md-3">
            <h4>אפשרויות ניהול</h4>
        </div>
    </div>
    <br />
    @foreach (var item in Model)
    {
        <div class="row" style="padding-top:1%">
            <div class="col-md-3">
                @Html.DisplayFor(modelItem => item.CompanyName)
            </div>
            <div class="col-md-3">
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </div>
            <div class="col-md-3">
                @Html.DisplayFor(modelItem => item.Email)
            </div>
            <div class="col-md-3">
                <a asp-action="Edit" asp-route-id="@item.SupplierId">עריכה</a> |
                <a asp-action="Details" asp-route-id="@item.SupplierId">פרטים</a> |
                <a asp-action="Delete" asp-route-id="@item.SupplierId">מחיקה</a>
            </div>
        </div>
    }
</div>