@model PlantPlanet.Models.DeliveryType

@{
    ViewData["Title"] = "Details";
}


<div class="container" style="font-family: 'Gisha'; direction:rtl; text-align:center">
    <br />
    <div class="row" style="font-size:x-large">
        <div class="col-md-4">
            @Html.DisplayNameFor(model => model.Type)
        </div>
        <div class="col-md-4">
            @Html.DisplayNameFor(model => model.DeliveryCostAddition)
        </div>
        <div class="col-md-4">
            אפשרויות ניהול
        </div>
    </div>
    <br />
    <div class="row" style="font-size:medium">
        <div class="col-md-4">
            @Html.DisplayFor(model => model.Type)
        </div>
        <div class="col-md-4">
            @Html.DisplayFor(model => model.DeliveryCostAddition)
        </div>
        <div class="col-md-4">
            <a asp-action="Edit" asp-route-id="@Model.DeliveryTypeId">עריכה</a> |
            <a asp-action="Delete" asp-route-id="@Model.DeliveryTypeId">מחיקה</a>
        </div>
    </div>
    <div class="row" style="margin-top:15%">
        <a asp-action="Index">חזרה לרשימת סוגי המשלוח</a>
    </div>
</div>
