@model IEnumerable<PlantPlanet.Models.DeliveryType>

@{
    ViewData["Title"] = "Index";
}

<div class="container" >
    <div class="row">
        <div class="col-md-4">
            <a asp-action="Create" class="btn btn-outline-info">יצירת סוג משלוח חדש</a>
        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <form asp-action="Search" asp-controller="DeliveryTypes" style="margin-right:3%">
                <input name="query" class="search-input" type="search" placeholder="חיפוש סוג משלוח" />
                <button class="search-container" style="border:none; background-color:transparent">
                    <i class="fas fa-search" style="margin-right: 5px" aria-hidden="true"></i>
                </button>
            </form>
        </div>
    </div>
    <br />
    <div class="row" style="font-weight:bold">
        <div class="col-md-4">
            <h4>@Html.DisplayNameFor(model => model.Type)</h4>
        </div>
        <div class="col-md-4">
            <h4>@Html.DisplayNameFor(model => model.DeliveryCostAddition)</h4>
        </div>
        <div class="col-md-4">
            <h4>אפשרויות ניהול</h4>
        </div>
    </div>
    @foreach (var item in Model)
    {
        <br />
        <div class="row">
            <div class="col-md-4">
                @Html.DisplayFor(modelItem => item.Type)
            </div>
            <div class="col-md-4">
                @Html.DisplayFor(modelItem => item.DeliveryCostAddition)
            </div>
            <div class="col-md-4">
                <a asp-action="Edit" asp-route-id="@item.DeliveryTypeId">עריכה</a> |
                <a asp-action="Details" asp-route-id="@item.DeliveryTypeId">פרטים</a> |
                <a asp-action="Delete" asp-route-id="@item.DeliveryTypeId">מחיקה</a>
            </div>
        </div>
    }
</div>

