@model PlantPlanet.Models.Order

@{
    ViewData["Title"] = "Details";
}

<link rel="stylesheet" href="~/css/details.css" />

<h4> הזמנה מספר @Html.DisplayFor(model => model.OrderId)</h4>

<table>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Customer)</th>
        <th>
            @Html.DisplayFor(model => model.Customer.FirstName) @Html.DisplayFor(model => model.Customer.LastName)
        </th>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.OrderSumPayment)</th>
        <th>@Html.DisplayFor(model => model.OrderSumPayment)</th>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Message)</th>
        <th>@Html.DisplayFor(model => model.Message)</th>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.OrderComments)</th>
        <th>@Html.DisplayFor(model => model.OrderComments)</th>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.IsGift)</th>
        <th>@Html.DisplayFor(model => model.IsGift)</th>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.PaymentMethod)</th>
        <th>@Html.DisplayFor(model => model.PaymentMethod)</th>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.PaymentsNumber)</th>
        <th>@Html.DisplayFor(model => model.PaymentsNumber)</th>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.PaymentVerification)</th>
        <th>@Html.DisplayFor(model => model.PaymentVerification)</th>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.IsPremiumDiscount)</th>
        <th>@Html.DisplayFor(model => model.IsPremiumDiscount)</th>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.DeliveryType)</th>
        <th>@Html.DisplayFor(model => model.DeliveryType.Type)</th>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.City)</th>
        <th>@Html.DisplayFor(model => model.City)</th>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Street)</th>
        <th>@Html.DisplayFor(model => model.Street)</th>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.HouseNumber)</th>
        <th>@Html.DisplayFor(model => model.HouseNumber)</th>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.FloorNumber)</th>
        <th>@Html.DisplayFor(model => model.FloorNumber)</th>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.FlatNumber)</th>
        <th>@Html.DisplayFor(model => model.FlatNumber)</th>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.ZipCode)</th>
        <th>@Html.DisplayFor(model => model.ZipCode)</th>
    </tr>
</table>
<br />
<div class="right">
    <a asp-action="Delete" asp-route-id="@Model.OrderId">מחיקת הזמנה</a> |
    <a asp-action="Edit" asp-route-id="@Model.OrderId">עריכת הזמנה</a>
</div>
<div class="left">
    <a asp-action="Index">חזרה לרשימת ההזמנות</a>
</div>
