@model IEnumerable<PlantPlanet.Models.Order>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/filter.css" />

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <button id="filterProducts" style="all:unset; padding-right:10%; display: flex; cursor: pointer">
                <i class="fa fa-search"></i>
                <h6 style="margin-right: 5px"> סינון הזמנות</h6>
            </button>

            <div id="myModal" class="modal">
                <!-- Modal content -->
                <div class="modal-content" style="align-items:center">
                    <span class="close">&times;</span>
                    <form asp-action="Filter" asp-controller="Orders" style="margin-top: 4%">

                        <div class="container" style="text-align:center">
                            <h4>סינון הזמנות</h4>
                            <br />
                            <div class="row">
                                <div class="col-md-6">
                                    <i>סינון לפי מספר הזמנה</i>
                                </div>
                                <div class="col-md-6">
                                    <input name="numQuery" class="search-input" type="number" placeholder="מספר הזמנה" />
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-6">
                                    <i>סינון לפי סכום הזמנה מינימלי</i>
                                </div>
                                <div class="col-md-6">
                                    <input name="sumQuery" class="search-input" type="number" placeholder="סכום הזמנה" />
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-6">
                                    <i>סינון לפי סוג משלוח</i>
                                </div>
                                <div class="col-md-6">
                                    <select name="deliveryTypeQuery" class="search-input">
                                        <option value="הכל">הכל</option>
                                        @foreach (var type in ViewData["DeliveryTypes"] as IList<DeliveryType>)
                                        {
                                            <option value="@type.Type">@type.Type</option>

                                        }
                                    </select>
                                </div>
                                <div class="col-md-1">
                                    <button class="search-container" style="border:none; background-color:transparent">
                                        <i class="fas fa-search" style="margin-right: 5px" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            @*<form asp-action="Search" asp-controller="Orders" style="margin-right:3%">
            <input name="query" class="search-input" type="search" placeholder="חיפוש הזמנה" />
            <button class="search-container" style="border:none; background-color:transparent">
                <i class="fas fa-search" style="margin-right: 5px" aria-hidden="true"></i>
            </button>
        </form>*@
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3" style="font-weight:bold">
            <h4>@Html.DisplayNameFor(model => model.OrderId)</h4>
        </div>
        <div class="col-md-3">
            <h4>@Html.DisplayNameFor(model => model.OrderSumPayment)</h4>
        </div>
        <div class="col-md-3">
            <h4>@Html.DisplayNameFor(model => model.DeliveryType)</h4>
        </div>
        <div class="col-md-3">
            <h4>אפשרויות ניהול</h4>
        </div>
    </div>
    @foreach (var item in Model)
    {
        <br />
        <div class="row">
            <div class="col-md-3">
                @Html.DisplayFor(modelItem => item.OrderId)
            </div>
            <div class="col-md-3">
                @Html.DisplayFor(modelItem => item.OrderSumPayment)
            </div>
            <div class="col-md-3">
                @Html.DisplayFor(modelItem => item.DeliveryType.Type)
            </div>
            <div class="col-md-3">
                <a asp-action="Edit" asp-route-id="@item.OrderId">עריכה</a> |
                <a asp-action="Details" asp-route-id="@item.OrderId">פרטים</a> |
                <a asp-action="Delete" asp-route-id="@item.OrderId">מחיקה</a>
            </div>
        </div>
    }
</div>

<script src="~/js/filter.js"></script>