@model IEnumerable<PlantPlanet.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderSumPayment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShippingAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderComments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsGift)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentsNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPremiumDiscount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentVerification)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderSumPayment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShippingAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderComments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsGift)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentMethod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentsNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPremiumDiscount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentVerification)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrderId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OrderId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OrderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
