@model IEnumerable<PlantPlanet.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="/css/filter.css" />
<link rel="stylesheet" href="~/css/catalog.css" />

<div class="sidenav">
    @foreach (var category in ViewData["categoriesList"] as IList<Category>)
    {
        <button class="dropdown-btn" style="font-size: small">
            @category.CategoryName
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            @foreach (var subCategory in ViewData["subCategoriesList"] as IList<SubCategory>)
            {
                if (subCategory.ParentCategoryId == category.CategoryId)
                {
                    <a asp-action="Products" asp-route-id="@subCategory.SubCategoryId" style="font-size: small">@subCategory.Name</a>
                }
            }
        </div>
    }
</div>

<div class="body">

    <button id="filterProducts" style="all:unset; padding-right:10%">
        <h6 class="fas fa-search"> סינון מוצרים </h6>
    </button>

    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content" style="align-items:center">
            <span class="close">&times;</span>
            <form asp-action="Filter" asp-controller="Catalog" style="margin-top: 4%">

                <div class="container" style="text-align:center">
                    <h4>סינון מוצרים</h4>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <i>סינון לפי שם המוצר</i>
                        </div>
                        <div class="col-md-6">
                            <input name="NameQuery" class="search-input" type="search" placeholder="שם מוצר" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <i>סינון לפי צבע המוצר</i>
                        </div>
                        <div class="col-md-6">
                            <input name="ColorQuery" class="search-input" type="search" placeholder="צבע" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <i>סינון לפי מחיר מקסימלי</i>
                        </div>
                        <div class="col-md-6">
                            <input name="PriceQuery" class="search-input" type="number" placeholder="מחיר מקסימלי" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <i>סינון לפי קטגוריה</i>
                        </div>
                        <div class="col-md-6">
                            <select name="categoryQuery" class="search-input">
                                @foreach (var subcategory in ViewData["subCategoriesList"] as IList<SubCategory>)
                                {
                                    <option value="@subcategory.Name">@subcategory.Name</option>

                                }
                            </select>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <i>סינון לפי מוצרים במבצע</i>
                        </div>
                        <div class="col-md-5">
                            <input name="SaleQuery" value="1" class="search-input" type="checkbox" />
                        </div>
                        <div class="col-md-1">
                            <button class="search-container" style="border:none; background-color:transparent">
                                <i class="fas fa-search" style="margin-right: 5px" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>

    <div class="cards">
        @foreach (var item in Model)
        {
            <a class="card" asp-controller="Catalog" asp-action="ProductPage" asp-route-id="@item.ProductId">
                <div class="cont">
                    <img class="picture" src="/@item.ImageURL" />
                </div>
                <div class="details">
                    <h5>@item.Name</h5>
                </div>
            </a>
        }
    </div>
</div>

<script src="~/js/dropdown.js"></script>
<script src="/js/filter.js"></script>
