@model PlantPlanet.Models.SubCategory

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h4>@Html.DisplayNameFor(model => model.Name)</h4>
        </div>
        <div class="col-md-3">
            <h4>@Html.DisplayNameFor(model => model.ParentCategory)</h4>
        </div>
        <div class="col-md-3">
            <h4>@Html.DisplayNameFor(model => model.ImageURL)</h4>
        </div>
        <div class="col-md-3">
            <h4>אפשרויות ניהול</h4>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            @Html.DisplayFor(model => model.Name)
        </div>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.ParentCategory.CategoryName)
        </div>
        <div class="col-md-3">
            <img src="~/@Html.DisplayFor(model => model.ImageURL)" style="height:80%; width:80%" />
        </div>
        <div class="col-md-3">
            <a asp-action="Delete" asp-route-id="@Model.SubCategoryId">מחיקת תת קטגוריה</a> 
            <br />
            <a asp-action="Edit" asp-route-id="@Model.SubCategoryId">עריכת תת קטגוריה</a>
        </div>
    </div>
    <div class="row">
        <a asp-action="Index">חזרה לרשימת תתי הקטגוריות</a>
    </div>
</div>


