@model PlantPlanet.Models.Employee

@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" href="~/css/employees.css"/>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h4>פרטי עובד.ת</h4>
        </div>
        <div class="col-md-6 manage">
            <h4>אפשרויות ניהול</h4>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3 bold">
            @Html.DisplayNameFor(model => model.TeudatZehut)
        </div>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.TeudatZehut)
        </div>
        <div class="col-md-6 manage">
            <a asp-action="Edit" asp-route-id="@Model.EmployeeId">עריכה</a> |
            <a asp-action="Delete" asp-route-id="@Model.EmployeeId">מחיקה</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 bold">
            @Html.DisplayNameFor(model => model.FirstName)
        </div>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.FirstName)
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 bold">
            @Html.DisplayNameFor(model => model.LastName)
        </div>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.LastName)
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 bold">
            @Html.DisplayNameFor(model => model.StartDate)
        </div>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.StartDate)
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 bold">
            @Html.DisplayNameFor(model => model.Email)
        </div>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.Email)
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 bold">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </div>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.PhoneNumber)
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 bold">
            @Html.DisplayNameFor(model => model.Salary)
        </div>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.Salary)
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 bold">
            @Html.DisplayNameFor(model => model.BonusRate)
        </div>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.BonusRate)
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 bold">
            @Html.DisplayNameFor(model => model.IsCurrentlyEmployed)
        </div>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.IsCurrentlyEmployed)
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 bold">
            @Html.DisplayNameFor(model => model.City)
        </div>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.City)
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 bold">
            @Html.DisplayNameFor(model => model.Street)
        </div>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.Street)
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 bold">
            @Html.DisplayNameFor(model => model.HouseNumber)
        </div>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.HouseNumber)
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 bold">
            @Html.DisplayNameFor(model => model.FloorNumber)
        </div>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.FloorNumber)
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 bold">
            @Html.DisplayNameFor(model => model.FlatNumber)
        </div>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.FlatNumber)
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 bold">
            @Html.DisplayNameFor(model => model.ZipCode)
        </div>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.ZipCode)
        </div>
    </div>
    <br />
    <div class="row">
        <a asp-action="Index">חזרה לרשימת העובדים.ות</a>
    </div>
</div>
