@model PlantPlanet.Models.Employee

@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" href="~/css/details.css" />

<h4>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h4>

<table>
    <tr>
        <th>@Html.DisplayNameFor(model => model.TeudatZehut)</th>
        <th>@Html.DisplayFor(model => model.TeudatZehut)</th>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.PhoneNumber)</th>
        <th>@Html.DisplayFor(model => model.PhoneNumber)</th>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Email)</th>
        <th>@Html.DisplayFor(model => model.Email)</th>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.StartDate)</th>
        <th>@Html.DisplayFor(model => model.StartDate)</th>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Salary)</th>
        <th>@Html.DisplayFor(model => model.Salary)</th>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.BonusRate)</th>
        <th>@Html.DisplayFor(model => model.BonusRate)</th>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.IsCurrentlyEmployed)</th>
        <th>@Html.DisplayFor(model => model.IsCurrentlyEmployed)</th>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.City)</th>
        <th>@Html.DisplayFor(model => model.City)</th>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Street)</th>
        <th>@Html.DisplayFor(model => model.Street)</th>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.HouseNumber)</th>
        <th>@Html.DisplayFor(model => model.HouseNumber)</th>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.FloorNumber)</th>
        <th>@Html.DisplayFor(model => model.FloorNumber)</th>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.FlatNumber)</th>
        <th>@Html.DisplayFor(model => model.FlatNumber)</th>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.ZipCode)</th>
        <th>@Html.DisplayFor(model => model.ZipCode)</th>
    </tr>
</table>
<br />
<div class="right">
    <a asp-action="Delete" asp-route-id="@Model.EmployeeId">מחיקת עובד.ת</a> |
    <a asp-action="Edit" asp-route-id="@Model.EmployeeId">עריכת עובד.ת</a>
</div>
<div class="left">
    <a asp-action="Index">חזרה לרשימת העובדים.ות</a>
</div>