@model IEnumerable<PlantPlanet.Models.Employee>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/employees.css" />

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <a asp-action="Create" class="btn btn-outline-info">יצירת עובד.ת חדש.ה</a>
        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <form asp-action="Search" asp-controller="Employees" style="margin-right:3%">
                <input name="query" class="search-input" type="search" placeholder="חיפוש עובד.ת" />
                <button class="search-container" style="border:none; background-color:transparent">
                    <i class="fas fa-search" style="margin-right: 5px" aria-hidden="true"></i>
                </button>
            </form>
        </div>
    </div>
    <br />
    <div class="row" style="padding-top: 0%">
        <div class="col-md-3">
            <h4>@Html.DisplayNameFor(model => model.TeudatZehut)</h4>
        </div>
        <div class="col-md-3">
            <h4>@Html.DisplayNameFor(model => model.FirstName)</h4>
        </div>
        <div class="col-md-3">
            <h4>@Html.DisplayNameFor(model => model.LastName)</h4>
        </div>
        <div class="col-md-3">
            <h4>אפשרויות ניהול</h4>
        </div>
    </div>
    @foreach (var item in Model)
    {
        <div class="row">
            <br />
            <div class="col-md-3">
                @Html.DisplayFor(modelItem => item.TeudatZehut)
            </div>
            <div class="col-md-3">
                @Html.DisplayFor(modelItem => item.FirstName)
            </div>
            <div class="col-md-3">
                @Html.DisplayFor(modelItem => item.LastName)
            </div>
            <div class="col-md-3">
                <a asp-action="Edit" asp-route-id="@item.EmployeeId">עריכה</a> |
                <a asp-action="Details" asp-route-id="@item.EmployeeId">פרטים</a> |
                <a asp-action="Delete" asp-route-id="@item.EmployeeId">מחיקה</a>
            </div>
        </div>
    }
</div>
      