@model PlantPlanet.Models.Product

@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/css/details.css" />

<h4>@Html.DisplayFor(model => model.Name)</h4>

<table>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Description)</th>
        <th>@Html.DisplayFor(model => model.Description)</th>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Treatment)</th>
        <th>@Html.DisplayFor(model => model.Treatment)</th>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.TreatmentTips)</th>
        <th>@Html.DisplayFor(model => model.TreatmentTips)</th>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.SubCategories)</th>
        <th>@Html.DisplayFor(model => model.SubCategories)</th>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.BuyingCost)</th>
        <th>@Html.DisplayFor(model => model.BuyingCost)</th>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.SellingPrice)</th>
        <th>@Html.DisplayFor(model => model.SellingPrice)</th>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Supplier)</th>
        <th>@Html.DisplayFor(model => model.Supplier.CompanyName)</th>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Discount)</th>
        <th>@Html.DisplayFor(model => model.Discount)</th>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Color)</th>
        <th>@Html.DisplayFor(model => model.Color)</th>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Size)</th>
        <th>@Html.DisplayFor(model => model.Size)</th>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Quantity)</th>
        <th>@Html.DisplayFor(model => model.Quantity)</th>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.NetIncome)</th>
        <th>@Html.DisplayFor(model => model.NetIncome)</th>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.UnitsSold)</th>
        <th>@Html.DisplayFor(model => model.UnitsSold)</th>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.ImageURL)</th>
        <th>
            <img src="~/@Html.DisplayFor(model => model.ImageURL)" style="width:25%" />
        </th>
    </tr>
</table>
<br />
<div class="right">
    <a asp-action="Delete" asp-route-id="@Model.ProductId">מחיקת מוצר</a> |
    <a asp-action="Edit" asp-route-id="@Model.ProductId">עריכת מוצר</a>
</div>
<div class="left">
    <a asp-action="Index">חזרה לרשימת המוצרים</a>
</div>