@model IEnumerable<PlantPlanet.Models.Product>

@{
    ViewData["Title"] = "Index";
}


<div class="container" style="font-family: 'Gisha'; direction:rtl; text-align:center">
    <div class="row" style="direction:ltr">
        <p>
            <a asp-action="Create" class="btn btn-outline-info">יצירת מוצר חדש</a>
        </p>
    </div>
    <div class="row" style="font-weight:bold">
        <div class="col-md-4">
            <h4>@Html.DisplayNameFor(model => model.Name)</h4>
        </div>
        <div class="col-md-4">
            <h4>@Html.DisplayNameFor(model => model.ImageURL)</h4>
        </div>
        <div class="col-md-4">
            <h4>אפשרויות ניהול</h4>
        </div>
    </div>
    @foreach (var item in Model)
    {
        <br />
        <div class="row">
            <div class="col-md-4">
                @Html.DisplayFor(modelItem => item.Name)
            </div>
            <div class="col-md-4">
                <img src="~/@item.ImageURL" style="width:200px; height:200px" />
            </div>
            <div class="col-md-4">
                <a asp-action="Edit" asp-route-id="@item.ProductId">עריכה</a> |
                <a asp-action="Details" asp-route-id="@item.ProductId">פרטים</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductId">מחיקה</a>
            </div>
        </div>
    }
</div>

