@model IEnumerable<PlantPlanet.Models.Product>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/filter.css" />

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <a asp-action="Create" class="btn btn-outline-info">יצירת מוצר חדש</a>
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
                <button id="filterProducts" style="all:unset; padding-right:10%">
                    <h6 class="fas fa-search"> סינון מוצרים </h6>
                </button>

                <div id="myModal" class="modal">
                    <!-- Modal content -->
                    <div class="modal-content" style="align-items:center">
                        <span class="close">&times;</span>
                        <form asp-action="Filter" asp-controller="Products" style="margin-top: 4%">

                            <div class="container" style="text-align:center">
                                <h4>סינון מוצרים</h4>
                                <br />
                                <div class="row">
                                    <div class="col-md-6">
                                        <i>סינון לפי שם המוצר</i>
                                    </div>
                                    <div class="col-md-6">
                                        <input name="NameQuery" class="search-input" type="search" placeholder="שם מוצר" />
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-6">
                                        <i>סינון לפי צבע המוצר</i>
                                    </div>
                                    <div class="col-md-6">
                                        <input name="ColorQuery" class="search-input" type="search" placeholder="צבע" />
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-6">
                                        <i>סינון לפי מחיר מקסימלי</i>
                                    </div>
                                    <div class="col-md-6">
                                        <input name="PriceQuery" class="search-input" type="number" placeholder="מחיר מקסימלי" />
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-6">
                                        <i>סינון לפי קטגוריה</i>
                                    </div>
                                    <div class="col-md-6">
                                        <select name="categoryQuery" class="search-input">
                                            <option value="הכל">הכל</option>
                                            @foreach (var subcategory in ViewData["subCategoryList"] as IList<SubCategory>)
                                            {
                                                <option value="@subcategory.Name">@subcategory.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-6">
                                        <i>סינון לפי מוצרים במבצע</i>
                                    </div>
                                    <div class="col-md-5">
                                        <input name="SaleQuery" value="1" class="search-input" type="checkbox" />
                                    </div>
                                    <div class="col-md-1">
                                        <button class="search-container" style="border:none; background-color:transparent">
                                            <i class="fas fa-search" style="margin-right: 5px" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                @*<form asp-action="Search" asp-controller="Products" style="margin-right:3%">
                        <input name="query" class="search-input" type="search" placeholder="חיפוש מוצר" />
                        <button class="search-container" style="border:none; background-color:transparent">
                            <i class="fas fa-search" style="margin-right: 5px" aria-hidden="true"></i>
                        </button>
                    </form>*@
            </div>
        </div>
    <br />
    <div class="row" style="font-weight:bold">
        <div class="col-md-4">
            <h4>@Html.DisplayNameFor(model => model.Name)</h4>
        </div>
        <div class="col-md-4">
            <h4>@Html.DisplayNameFor(model => model.ImageURL)</h4>
        </div>
        <div class="col-md-4">
            <h4>אפשרויות ניהול</h4>
        </div>
    </div>
        @foreach (var item in Model)
        {
            <br />
            <div class="row">
                <div class="col-md-4">
                    @Html.DisplayFor(modelItem => item.Name)
                </div>
                <div class="col-md-4">
                    <img src="~/@item.ImageURL" style="width:200px; height:200px" />
                </div>
                <div class="col-md-4">
                    <a asp-action="Edit" asp-route-id="@item.ProductId">עריכה</a> |
                    <a asp-action="Details" asp-route-id="@item.ProductId">פרטים</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProductId">מחיקה</a>
                </div>
            </div>
        }
    </div>
    <script src="~/js/filter.js"></script>

    @foreach (var item in Model)
    {
        <br />
        <div class="row">
            <div class="col-md-4">
                @Html.DisplayFor(modelItem => item.Name)
            </div>
            <div class="col-md-4">
                <img src="~/@item.ImageURL" style="width:200px; height:200px" />
            </div>
            <div class="col-md-4">
                <a asp-action="Edit" asp-route-id="@item.ProductId">עריכה</a> |
                <a asp-action="Details" asp-route-id="@item.ProductId">פרטים</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductId">מחיקה</a>
            </div>
        </div>

    }

    <!-- Load d3.js -->
    <script src="https://d3js.org/d3.v6.js"></script>

    <!-- Create a div where the graph will take place -->
    <div class="row" style="padding-top: 50px">
        <div>
            <div>זמינות המוצרים</div>
            <div id="availableQuantity"></div>
        </div>
        <div class="col-md-4" style="margin-right:30px">
            <div>המוצרים הנמכרים ביותר</div>
            <div id="productsSold"></div>
        </div>
    </div>

        <script>
        // set the dimensions and margins of the graph
        const margin = { top: 10, right: 30, bottom: 30, left: 60 },
            width = 500 - margin.left - margin.right,
            height = 450 - margin.top - margin.bottom;

        // append the svg object to the body of the page
        const svg = d3.select("#availableQuantity")
            .append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform", `translate(${margin.left},${margin.top})`);

        // append the svg object to the body of the page
        const svgProductsSold = d3.select("#productsSold")
            .append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform", `translate(${margin.left},${margin.top})`);

        var i = '@ViewBag.titles'
        console.log(i.substr(0, i.length - 1).split(","))
        i = i.substr(0, i.length - 1).split(",")

        // X axis
        var x = d3.scaleBand()
            .range([0, width])
            .domain(i)
            .padding(0.2);

        svg.append("g")
            .attr("transform", "translate(0," + height + ")")
            .call(d3.axisBottom(x))
            .selectAll("text")
            .attr("transform", "translate(-10,0)rotate(-45)")
            .style("text-anchor", "end");


        svgProductsSold.append("g")
            .attr("transform", "translate(0," + height + ")")
            .call(d3.axisBottom(x))
            .selectAll("text")
            .attr("transform", "translate(-10,0)rotate(-45)")
            .style("text-anchor", "end");

        //const x = d3.scaleLinear().domain([0, 9200]).range([0, width]);
        //svg.append("g")
        //    .attr("transform", "translate(0," + height + ")")
        //    .call(d3.axisBottom(x));

        // Add Y axis
        const y = d3.scaleLinear()
            .domain([0, 200])
            .range([height, 0]);

        svg.append("g")
            .call(d3.axisLeft(y));

        svgProductsSold.append("g")
            .call(d3.axisLeft(y));
        </script>
        @foreach (var product in ViewData["availableQuantity"] as IList<Quantity>)
        {
            <script>

            svg.selectAll("mybar")
                .data([{ id: @product.id, quantity: @product.quantity }])
                .enter()
                .append("rect")
                .attr("x", function (d) { return x(d.id); })
                .attr("y", function (d) { return y(d.quantity); })
                .attr("width", x.bandwidth())
                .attr("height", function (d) { return height - y(d.quantity); })
                .attr("fill", "#69b3a2")

            @*svg
                .append("g")
                .selectAll("dot")
                .data([{ id: @product.id, quantity: @product.quantity }])
                .join("circle")
                .attr("cx", d => x(d.id))
                .attr("cy", d => y(d.quantity))
                .attr("r", 5)
                .attr("fill", "#69b3a2")*@

            </script>
        }

        @foreach (var product in ViewData["productsSold"] as IList<Quantity>)
        {

            <script>

            svgProductsSold.selectAll("mybar")
                .data([{ id: @product.id, quantity: @product.quantity }])
                .enter()
                .append("rect")
                .attr("x", function (d) { return x(d.id); })
                .attr("y", function (d) { return y(d.quantity); })
                .attr("width", x.bandwidth())
                .attr("height", function (d) { return height - y(d.quantity); })
                .attr("fill", "#69b3a2")

            </script>
        }
    </div>

