@model PlantPlanet.Models.User

@{
    ViewData["Title"] = "Delete";
}

<link rel="stylesheet" href="~/css/delete.css" />

<div class="container">
    <h4>מחיקת משתמש.ת</h4>
    <div class="row" style="font-weight:bold; padding-top:5%">
        <div class="col-md-3">
            @Html.DisplayNameFor(model => model.UserName)
        </div>
        <div class="col-md-3">
            @Html.DisplayNameFor(model => model.Password)
        </div>
        <div class="col-md-3">
            @Html.DisplayNameFor(model => model.Type)
        </div>
        <div class="col-md-3">אפשרויות</div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            @Html.DisplayFor(model => model.UserName)
        </div>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.Password)
        </div>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.Type)
        </div>
        <div class="col-md-3">
            <form asp-action="Delete">
                <input type="hidden" asp-for="UserName" />
                <input type="submit" value="מחיקה" class="btn btn-outline-danger" />
                <a asp-action="Index" class="btn btn-outline-info">ביטול</a>
            </form>
        </div>
    </div>
    <div class="row" style="padding-top:8%">
        <a asp-action="Index">חזרה לרשימת המשתמשים.ות</a>
    </div>
</div>
