@model PlantPlanet.Models.User

@{
    ViewData["Title"] = "Details";
}

<link rel="stylesheet" href="~/css/details.css" />

<table>
    <tr>
        <th>@Html.DisplayNameFor(model => model.UserName)</th>
        <th>@Html.DisplayFor(model => model.UserName)</th>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Password)</th>
        <th>@Html.DisplayFor(model => model.Password)</th>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Type)</th>
        <th>@Html.DisplayFor(model => model.Type)</th>
    </tr>
</table>
<br />
<div class="right">
    <a asp-action="Delete" asp-route-id="@Model.UserName">מחיקת משתמש.ת</a> |
    <a asp-action="Edit" asp-route-id="@Model.UserName">עריכת משתמש.ת</a>
</div>
<div class="left">
    <a asp-action="Index">חזרה לרשימת המשתמשים.ות</a>
</div>
