@model IEnumerable<PlantPlanet.Models.User>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/filter.css" />
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <a asp-action="Create" class="btn btn-outline-info">יצירת משתמש.ת חדש.ה</a>
        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-4">

            <button id="filterProducts" style="all:unset; padding-right:10%; display: flex; cursor: pointer">
                <i class="fa fa-search"></i>
                <h6 style="margin-right: 5px"> סינון משתמשים.ות</h6>
            </button>
            <div id="myModal" class="modal">
                <!-- Modal content -->
                <div class="modal-content" style="align-items:center">
                    <span class="close">&times;</span>
                    <form asp-action="Filter" asp-controller="Users" style="margin-top: 4%">

                        <div class="container" style="text-align:center">
                            <h4>סינון משתמשים.ות</h4>
                            <br />
                            <div class="row">
                                <div class="col-md-6">
                                    <i>סינון לפי שם המשתמש.ת</i>
                                </div>
                                <div class="col-md-6">
                                    <input name="nameQuery" class="search-input" type="search" placeholder="שם משתמש.ת" />
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-5">
                                    <i>סינון לפי סוג המשתמש</i>
                                </div>
                                <div class="col-md-6">
                                    <select name="typeQuery" class="search-input">
                                        <option value="הכל">הכל</option>
                                        <option value="Manager">מנהל</option>
                                        <option value="Customer">לקוח</option>
                                    </select>
                                </div>
                                <div class="col-md-1">
                                    <button class="search-container" style="border:none; background-color:transparent">
                                        <i class="fas fa-search" style="margin-right: 5px" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            @*<form asp-action="Search" asp-controller="Customers" style="margin-right:3%">
            <input name="query" class="search-input" type="search" placeholder="חיפוש לקוח.ה" />
            <button class="search-container" style="border:none; background-color:transparent">
                <i class="fas fa-search" style="margin-right: 5px" aria-hidden="true"></i>
            </button>
        </form>*@
        </div>
    </div>
    <br />
    <div class="row" style="font-weight:bold">
        <div class="col-md-4">
            <h4>@Html.DisplayNameFor(model => model.UserName)</h4>
        </div>
        <div class="col-md-4">
            <h4>@Html.DisplayNameFor(model => model.Type)</h4>
        </div>
        <div class="col-md-4">
            <h4>אפשרויות ניהול</h4>
        </div>
    </div>
    @foreach (var item in Model)
    {
        <br />
        <div class="row">
            <div class="col-md-4">
                @Html.DisplayFor(modelItem => item.UserName)
            </div>
            <div class="col-md-4">
                @{
                    if (item.Type.Equals("Customer"))
                    {
                        <div>לקוח.ה</div>
                    }
                    else if (item.Type.Equals("Manager"))
                    {
                        <div>מנהל.ת</div>
                    }
                }
            </div>
            <div class="col-md-4">
                <a asp-action="Edit" asp-route-id="@item.UserName">עריכה</a> |
                <a asp-action="Details" asp-route-id="@item.UserName">פרטים</a> |
                <a asp-action="Delete" asp-route-id="@item.UserName">מחיקה</a>
            </div>
        </div>
    }
</div>
<script src="~/js/filter.js"></script>
