@model PlantPlanet.Models.Store

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="row" style="font-size:x-large">
        <div class="col-md-3">
            @Html.DisplayNameFor(model => model.StoreName)
        </div>
        <div class="col-md-3">
            @Html.DisplayNameFor(model => model.StoreLocationX)
        </div>
        <div class="col-md-3">
            @Html.DisplayNameFor(model => model.StoreLocationY)
        </div>
        <div class="col-md-3">
            אפשרויות ניהול
        </div>
    </div>
    <br />
    <div class="row" style="font-size:medium">
        <div class="col-md-3">
            @Html.DisplayFor(model => model.StoreName)
        </div>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.StoreLocationX)
        </div>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.StoreLocationY)
        </div>
        <div class="col-md-3">
            <a asp-action="Edit" asp-route-id="@Model.StoreId">עריכה</a> |
            <a asp-action="Delete" asp-route-id="@Model.StoreId">מחיקה</a>
        </div>
    </div>
    <br />
    <div class="row" style="margin-top:15%">
        <a asp-action="Index">חזרה לרשימת החנויות</a>
    </div>
</div>
